@import "./css/config";
@import "./css/nav";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --bgcolor: #172a3a;
    --main: #51e5ff;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background: var(--bgcolor);
    --sb-track-color: #1b3244;
    --sb-thumb-color: #51e5ff;
    --sb-size: 6px;
}


::-webkit-scrollbar {
    width: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.box_todo {
    max-width: 550px;
    width: calc(100vw - 20px);
    min-height: 450px;
    //background: red;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .form_div {
        padding-top: 20px;
        padding-bottom: 30px;
        background: var(--bgcolor);
        position: sticky;
        border-bottom: 2px dashed rgba(81, 229, 255, 0.1);
        top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .tit_app {
            height: 120px;
            //background: red;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: 40px !important;
                text-transform: uppercase;
                font-family: "Press Start 2P", system-ui;
                color: #fff;
                user-select: none;
            }
        }
        form {
            display: flex;
            gap: 10px;
            height: 44px;
            //background: blue;
            height: 44px;
            input[type="text"] {
                flex: 1;
                height: 100%;
                padding-inline: 20px;
                background: none;
                border: 2px solid rgba(81, 229, 255, 0.1);
                border-radius: 4px;
                color: #fff;
                font-size: 14px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            button {
                width: 44px;
                border: none;
                background: transparent;
                border: 2px solid rgba(81, 229, 255, 0.1);
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 16px;
                }
            }
        }
    }
    .list {
        flex: 1;
        //background: darkorange;
        //overflow-y: scroll;
        //border: 2px solid #51e5ff1f;
        //border-radius: 10px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                //background: blue;
                height: 44px;
                //padding-inline: 20px;
                display: flex;
                //flex-direction: row-reverse;
                border-radius: 4px;
                border: 2px solid #51e5ff1f;
                transition: all .4s ease-in;
                
                .date_todo {
                    width: auto;
                    padding-inline: 15px;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                    display: none;
                    span {
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.52);
                    }
                    &.done {
                        i {
                            color: #21bf65;
                        }
                    }
                }
                .content {
                    flex: 1;
                    //background: #51e5ff;
                    padding-inline: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        width: 8px;
                        height: 8px;
                        background: #1e4152;
                        display: block;
                        border-radius: 50%;
                        transform: translateY(1px);
                        &.done {
                            background: #21bf65;
                        }
                    }
                    input {
                        line-height: 40px;
                        font-size: 16px;
                        font-weight: 400;
                        width: 100%;
                        color: #fff;
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                        &.done {
                            color: #21bf65;
                            text-decoration: line-through;
                        }
                    }
                }
                .actions {
                    width: auto;
                    //background: red;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    gap: 0;
                    padding-inline: 6px;
                    button {
                        width: 28px;
                        height: 28px;
                        border: none;
                        background: transparent;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border: none;
                        &.active {
                            i {
                                color: #21bf65;
                            }
                        }
                        i {
                            font-size: 16px;
                            color: rgba(81, 229, 255, 0.6);
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}

.swal-modal {
    //background: li(#172a3a, 4%) !important;
    background: lighten(#172a3a, 0%) !important;
    border: 2px solid rgba(81, 229, 255, 0.1215686275) !important;
    margin: 200px auto 50px;
    max-width: 360px !important;
    width: 90vw !important;
    .swal-text {
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
        color: #fff;
    }
    .swal-title {
        color: var(--main) !important;
        font-size: 20px;
    }
    .swal-button {
        padding-inline: 16px !important;
        padding-block: 8px !important;
        border: 2px solid rgba(81, 229, 255, 0.1215686275) !important;
        background: transparent !important;
        color: #fff !important;
        &:active,
        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .swal-icon {
        display: none !important;
    }
    .swal-button-container {
      margin: 0;
    }
}

.swal-overlay {
    display: flex;
    align-items: start;
}

.swal-footer {
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: row-reverse;
}


// -------------

.notyf__toast--lower {
	 margin-top: 15px !important; 
}

.notyf__message {
	line-height: 25px;
  padding-block: 0;
  font-size: 14px;
}

.notyf__wrapper {
	padding: 10px;
}

.todo-notyf{
  border: 2px solid rgba(81, 229, 255, 0.1);
  border-radius: 4px;
}